.card {
  max-width: 600px;
  /* align-items: center;
  justify-content: space-between;
  position: relative; */
  /* top: 50%; */
  /* left: 25vw; */
}

.block {
  display: flex;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
  /* max-width: 50vw; */
}

.nameBlock {
  text-align: left;
  margin: 10px;
}

.valueBlock {
  text-align: right;
  margin: 10px;
  margin-left: 100px;
}

.names,
.values {
  width: 50%;
  float: left;
}
